# Node.js / React
node_modules/
dist/
build/

# Vite cache
.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
.env
.env.*
.venv/
venv/

# OS-specific
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars

# Python (if using for Lambda)
__pycache__/
*.pyc
*.pyo
*.pyd
.env/

# VSCode / JetBrains / editor settings
.vscode/
.idea/
*.swp

# Ignore all zip files in all directories
*.zip